body {
	font-family: Helvetica, Arial, "Sans-Serif";
	background: #f2ffae url(../images/background.png);
	margin: 0;
}

h1 {
	text-indent: -9000px;
	overflow: hidden;
	height: 40px;
	background: url(../images/logo.png) no-repeat center;
	background-size: 100%;
}

h2 {
	text-indent: -9000px;
	overflow: hidden;
	height: 0;
	position: absolute;
}

nav ul {
	list-style: none;
	margin: 0 0 0 20px;
	padding: 0;
}

nav ul li {
	display: inline-block;
	margin: 0;
	padding: 0 0 20px 0;
	width: 22%;
	color: #666;
	font-style: bold;
	text-decoration: none;
	text-align: center;
}

nav a {
	display: block;
	width: 100%;
	padding: 60px 0 0 0;
	background-repeat: no-repeat;
	background-position: center top;
	text-indent: -9000px;
	overflow: hidden;
	opacity: 0.6;
	-moz-transition: opacity 0.5s ease;
	-webkit-transition: opacity 0.5s ease;
	transition: opacity 0.5s ease;
}

nav a:hover {
	opacity: 1;
}

nav a#rock {
	background-image: url(../images/nav-rock.png);
}

nav a#paper {
	background-image: url(../images/nav-paper.png);
}

nav a#scissors {
	background-image: url(../images/nav-scissors.png);
}

nav a#computer {
	background-image: url(../images/nav-computer.png);
}

nav li span {
	display: none;
}

section.guesses:after {
	content: " ";
	display: block;
	width: 100%;
	height: 0;
	clear: both;
}

#myGuess,
#computersGuess {
	background-position: -200px bottom;
	height: 121px;
	background-repeat: no-repeat;
	text-indent: -9000px;
	overflow: hidden;
	width: 49%;
	-moz-transition: background-position 1s ease;
	-webkit-transition: background-position 1s ease;
	transition: background-position 1s ease;
}

#myGuess {
	float: left;
}

#computersGuess {
	float: right;
	-moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

#myGuess.rock, #computersGuess.rock,
#myGuess.paper, #computersGuess.paper,
#myGuess.scissors, #computersGuess.scissors {
	background-position: -115px bottom;
}

.rock {
	background-image: url(../images/rock.png);
}

.paper {
	background-image: url(../images/paper.png);
}

.scissors {
	background-image: url(../images/scissors.png);
}

#result {
	width: 80%;
	margin: 40px auto 0 auto;
	padding: 30px;
	text-align: center;
	font-size: 150%;
	opacity: 0;
	-moz-transition: opacity 0.5s ease;
	-webkit-transition: opacity 0.5s ease;
	transition: opacity 0.5s ease;
	-moz-transition-delay: 1.8s;
	-webkit-transition-delay: 1.8s;
    transition-delay: 1.8s;
}

#result.draw,
#result.win1,
#result.win2 {
	background: rgba(255,255,255,0.4);
	border: 5px solid rgba(255,255,255,0.7);
	opacity: 1;	
}

@media only screen and (min-width:410px){

h1 {
	background-size: auto;
}

}
@media only screen and (min-width:450px){

#myGuess.rock, #computersGuess.rock,
#myGuess.paper, #computersGuess.paper,
#myGuess.scissors, #computersGuess.scissors {
	background-position: -100px bottom;
}

}

@media only screen and (min-width:740px){

nav li span {
	display: inline;
}

}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5) and ,
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {

h1 {
	background-image: url("../images/logo@2x.png");
	background-size:100% auto;
}

}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5) and (min-width:410px),
only screen and (-o-min-device-pixel-ratio: 3/2) and (min-width:410px),
only screen and (min--moz-device-pixel-ratio: 1.5) and (min-width:410px),
only screen and (min-device-pixel-ratio: 1.5) and (min-width:410px) {

h1 {
	background-image: url("../images/logo@2x.png");
	background-size:410px auto;
}

}